[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "listWithDefaults"]
	path = listWithDefaults
	url = https://github.com/russellpierce/listwithdefaults
	shallow = true
	registered = true
[submodule "mcparallelDo"]
	path = mcparallelDo
	url = https://github.com/russellpierce/mcparalleldo
	shallow = true
	registered = true
[submodule "naptime"]
	path = naptime
	url = https://github.com/russellpierce/naptime
	shallow = true
	registered = true
