[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "listWithDefaults"]
	path = listWithDefaults
	url = https://github.com/russellpierce/listwithdefaults
[submodule "mcparallelDo"]
	path = mcparallelDo
	url = https://github.com/russellpierce/mcparalleldo
[submodule "naptime"]
	path = naptime
	url = https://github.com/russellpierce/naptime
